<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-2" href="https://techwings.io" target="_window">
    <img
      src="../../assets/images/techwings-io.png"
      width="30"
      height="30"
      class="d-inline-block align-top circular--square"
      alt=""
    />
    techwings.io
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="navbar-nav mr-auto">
        <a class="nav-link" routerLink="feedbackEventsHome">Events</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-5">
      <li class="nav-item mr-2">
        <app-login-button
          *ngIf="(auth.isAuthenticated$ | async) === false"
        ></app-login-button>
      </li>
      <li
        class="nav-item mr-2"
        *ngIf="(auth.isAuthenticated$ | async) === false"
      >
        <app-signup-button></app-signup-button>
      </li>
      <li class="nav-item mr-2" *ngIf="auth.isAuthenticated$ | async">
        <app-logout-button></app-logout-button>
      </li>
      <li class="nav-item dropdown" *ngIf="auth.isAuthenticated$ | async">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My FeedbackPal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile">My Profile</a>
          <a class="dropdown-item" routerLink="/feedbackEventsHome"
            >My Events</a
          >
          <a class="dropdown-item" routerLink="/myFeedbackpal/myFeedbacks"
            >My Feedbacks</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
