<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-2" href="https://techwings.io" target="_window">
    <img
      src="../../assets/images/techwings-io.png"
      width="30"
      height="30"
      class="d-inline-block align-top circular--square"
      alt=""
    />
    techwings.io
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li
        class="navbar-nav mr-auto"
        *ngIf="(auth.isAuthenticated$ | async) === true && cookiesAccepted"
      >
        <a class="nav-link" routerLink="/feedbackEventsHome">My Events</a>
      </li>
      <li
        class="navbar-nav mr-auto"
        *ngIf="(auth.isAuthenticated$ | async) === true && cookiesAccepted"
      >
        <a class="nav-link" routerLink="/myFeedbackpal/myFeedbacks"
          >My Feedback</a
        >
      </li>
      <li class="nav-item">
        <app-login-button
          *ngIf="(auth.isAuthenticated$ | async) === false && cookiesAccepted"
        ></app-login-button>
      </li>
      <li
        class="nav-item"
        *ngIf="(auth.isAuthenticated$ | async) === false && cookiesAccepted"
      >
        <app-signup-button></app-signup-button>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
        <app-logout-button></app-logout-button>
      </li>
    </ul>
  </div>
</nav>
