<div class="row mt-5">
  <div class="col-sm"></div>
  <div class="col-sm">
    <div class="card">
      <div class="card-header">Event</div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        *ngIf="errorOccurred"
      >
        <p *ngIf="unauthorised">You are not allowed to delete this event</p>
        <p *ngIf="!unauthorised">
          An error occurred while deleting this event. Please check the console
          logs
        </p>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <h5 class="card-title">{{ feedbackEvent.eventName }}</h5>
          </div>
          <div class="col-sm-4">
            <img [src]="[overallFeelingImgUrl]" alt="Feeling" width="50" />
          </div>
        </div>

        <p class="card-text">
          {{ feedbackEvent.description }}
        </p>

        <div class="row">
          <div class="col-sm-6">
            <p>Valid from: {{ feedbackEvent.validFrom | date }}</p>
          </div>
          <div class="col-sm-6">
            <p>Valid to: {{ feedbackEvent.validTo | date }}</p>
          </div>
        </div>

        <button class="btn btn-success mr-1" (click)="onEventSelected($event)">
          Select
        </button>
        <button
          class="btn btn-primary mr-1"
          (click)="onEditFeedbackEvent($event)"
          [disabled]="user.sub !== feedbackEvent.createdBy"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          (click)="onDeleteFeedback($event)"
          [disabled]="user.sub !== feedbackEvent.createdBy"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
