<div class="row mt-5">
  <div class="col-md"></div>
  <div class="col-md">
    <div class="card">
      <div class="card-header">Event</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h5 class="card-title">{{ feedbackEvent.eventName }}</h5>
          </div>
          <div class="col-md-4">
            <img [src]="[overallFeelingImgUrl]" alt="Feeling" width="50" />
          </div>
        </div>

        <p class="card-text">
          {{ feedbackEvent.description }}
        </p>

        <div class="row">
          <div class="col-md-6">
            <p>Valid from: {{ feedbackEvent.validFrom | date }}</p>
          </div>
          <div class="col-md-6">
            <p>Valid to: {{ feedbackEvent.validTo | date }}</p>
          </div>
        </div>

        <button class="btn btn-success mr-1" (click)="onEventSelected($event)">
          Select
        </button>
        <button
          class="btn btn-primary mr-1"
          (click)="onEditFeedbackEvent($event)"
        >
          Edit
        </button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="col-md"></div>
</div>
