<div class="container" *ngIf="!myFeedbacks || myFeedbacks.length === 0">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h1>Uh-oh! It appears you haven't left any feedback</h1>
      <p>Click the button below to start leaving your feedback!</p>
      <button
        type="button"
        class="btn btn-primary btn-block"
        (click)="onSelectEvent($event)"
      >
        Select an event!
      </button>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<div class="container" *ngIf="myFeedbacks && myFeedbacks.length > 0">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
      <h1>Here is a list of your feedbacks</h1>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <app-my-feedback-detail [myFeedbacks]="myFeedbacks"></app-my-feedback-detail>
</div>
