<div class="card mt-1">
  <div class="card-header">User Details</div>
  <div class="card-body">
    <h5 class="card-title">{{ candidateUser.name }}</h5>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <img
            [src]="candidateUser.picture"
            class="rounded-circle"
            width="50"
          />
        </div>
        <div class="col-md">
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Share</a>
        </div>
        <div class="col-md"></div>
      </div>
    </div>
  </div>
</div>
