<div
  class="card p-2"
  (mouseover)="onMouseEvent($event)"
  (mouseout)="onMouseEvent($event)"
  [ngClass]="highlighted ? 'highlighted' : ''"
>
  <img [src]="smiley.path" alt="Upset" class="card-img-top" />
  <div class="card-body">
    <h4 class="card-title text-center">
      {{ smiley.cardTitle }}
    </h4>
    <p class="text-center">
      Want to tell us more?
      <span
        ><input name="displayForm" type="checkbox" (click)="onTellUsMore()"
      /></span>
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
          <textarea
            *ngIf="displayTellUsMoreTextArea"
            (change)="onTextEntered($event)"
            #tellUsMoreTextArea
          ></textarea>
        </div>
        <div class="col-md"></div>
      </div>
    </div>

    <p class="card-body">
      {{ smiley.cardText }}
    </p>
    <button
      type="button"
      class="btn btn-primary btn-block"
      (click)="onSubmitFeedback($event)"
    >
      Send Feedback
    </button>
    {{ [tellUsMoreText] }}
  </div>
</div>
