<div
  class="card p-2"
  (mouseover)="onMouseEvent($event)"
  (mouseout)="onMouseEvent($event)"
  [ngClass]="highlighted ? 'highlighted' : ''"
>
  {{ tellUsMoreText }}
  <div
    class="alert alert-success alert-dismissible fade show text-center"
    role="alert"
    *ngIf="feedbackSubmittedSuccessfully"
  >
    Feedback submitted successfully
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <img [src]="smiley.path" alt="Upset" class="card-img-top" />
  <div class="card-body">
    <h4 class="card-title text-center">
      {{ smiley.cardTitle }}
    </h4>
    <p class="text-center">
      Want to tell us more?
      <span
        ><input name="displayForm" type="checkbox" (click)="onTellUsMore()"
      /></span>
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
          <textarea
            [(ngModel)]="tellUsMoreText"
            *ngIf="displayTellUsMoreTextArea"
            #tellUsMoreTextArea
          ></textarea>
        </div>
        <div class="col-md"></div>
      </div>
    </div>

    <p class="card-body">
      {{ smiley.cardText }}
    </p>
    <button
      type="button"
      class="btn btn-primary btn-block"
      (click)="onSubmitFeedback($event)"
    >
      Send Feedback
    </button>
  </div>
</div>
