<div class="row mt-5">
  <div class="col-md"></div>
  <div class="col-md">
    <h1 class="text-center mb-3">Create a Feedback event</h1>
    <form [formGroup]="feedbackEventsForm" (ngSubmit)="onSubmit()">
      <app-input
        [control]="feedbackEventsForm.get('eventName')"
        [label]="'Provide the name for your event *'"
        [inputType]="'text'"
      ></app-input>
      <app-input
        [control]="feedbackEventsForm.get('description')"
        [label]="'Provide the description for your event *'"
        [inputType]="'text'"
      ></app-input>
      <div class="form-group">
        <label for="validFrom"
          >Please enter the date from when this event will be active</label
        >
        <input
          type="date"
          class="form-control"
          [formControl]="feedbackEventsForm.get('validFrom')"
          id="validFrom"
          [value]="resolveValidFrom()"
        />
      </div>
      <div class="form-group">
        <label for="validTo"
          >Please enter the date until when this event will be active</label
        >
        <input
          type="date"
          class="form-control"
          [formControl]="feedbackEventsForm.get('validTo')"
          id="validTo"
          [value]="resolveValidTo()"
        />
      </div>

      <div class="form-check">
        <label for="publicEvent"
          >Do you want to make this event public? (Defaults to private)</label
        >
        <input
          type="checkbox"
          (change)="onShareClick($event)"
          class="form-check-input"
          [formControl]="feedbackEventsForm.get('publicEvent')"
          id="publicEvent"
        />
      </div>
      <div *ngIf="shareWithOthers">
        <app-user-search></app-user-search>
      </div>

      <button
        type="submit"
        class="btn btn-primary mt-3"
        [disabled]="feedbackEventsForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="col-md"></div>
</div>

<div>
  {{ feedbackEventsForm.value | json }}
</div>
