<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2">
      <h1 class="text-center">How are you feeling?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md" *ngIf="selectedEvent">
      <h4>You are providing feedback for event:</h4>
      <p class="text-center">{{ selectedEvent.eventName }}</p>
    </div>
    <div class="col-md"></div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-5" *ngFor="let smiley of smileys">
      <app-smiley-card [smiley]="smiley"></app-smiley-card>
    </div>
  </div>
</div>
