<div class="container" *ngIf="!errorOccurred">
  <div class="row">
    <div class="col-md-12 mt-2">
      <h1 class="text-center">How are you feeling?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md" *ngIf="[selectedEvent]">
      <h4>You are providing feedback for event:</h4>
      <p class="text-center">
        <strong>{{ selectedEvent.eventName }}.</strong>
        <span
          ><div class="alert alert-success mt-2" role="alert">
            <p>
              <span
                *ngIf="
                  selectedEvent.usersToShareWith &&
                  selectedEvent.usersToShareWith.length > 0
                "
                >This event is being shared with
                {{ selectedEvent.usersToShareWith.length }}
                {{
                  selectedEvent.usersToShareWith.length === 1 ? 'user' : 'users'
                }}</span
              >
            </p>
            <p>
              This event has received:
              {{
                selectedEvent.totalHappy +
                  selectedEvent.totalNeutral +
                  selectedEvent.totalUnhappy
              }}
              feedbacks
            </p>
          </div>
        </span>
      </p>
    </div>
    <div class="col-md">
      <img [src]="[overallFeelingImgUrl]" alt="Feeling" width="50" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-2" *ngFor="let smiley of smileys">
      <app-smiley-card
        [smiley]="smiley"
        [selectedEvent]="selectedEvent"
        (feedbackSubmitted$)="feedbackSubmitted()"
        (errorOccurred$)="errorOccurredWhileSubmitting()"
      ></app-smiley-card>
    </div>
  </div>
</div>
<app-generic-error-page *ngIf="errorOccurred"></app-generic-error-page>
