<table id="myFeedbacksTable" class="table table-striped table-dark mx-4">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Feeling</th>
      <th scope="col">Comments</th>
      <th scope="col">Last Created</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let feedback of myFeedbacks
          | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              }
      "
    >
      <td>{{ feedback.eventData.eventName }}</td>
      <td>
        <img
          [src]="feedback.feedbackData.feeling | feeling"
          alt="Feeling"
          class="rounded-circle"
          width="30"
        />
      </td>
      <td>{{ feedback.feedbackData.comments }}</td>
      <td>
        {{ feedback.feedbackData.lastCreated | date: 'dd/MM/yyyy @ hh:mm:ss' }}
      </td>
    </tr>
  </tbody>
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm">
        <pagination-controls
          (pageChange)="page = $event; fetchNextBatch()"
        ></pagination-controls>
      </div>
    </div>
  </div>
</table>
